# Gender and Purchasing Habits Data Exploration
Using a crosstab in data exploration

In [23]:
# Imports

import pandas as pd

## Data Exploration

In [24]:
# Read CSV in and show the first 5 rows

df = pd.read_csv("GenderPurchase.csv")
df.head()

   Gender Purchase
0  Female      Yes
1  Female      Yes
2  Female       No
3    Male       No
4    Male      Yes

In [25]:
# View the crosstab for gender and purchase 

contingency_table = pd.crosstab(df['Gender'], df['Purchase'])
contingency_table

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [26]:
# Sum of the total men and women in the dataset

contingency_table.sum(axis=1)

Gender
Female    265
Male      246
dtype: int64

In [27]:
# Sum of the total purchasers and non-purchasers

contingency_table.sum(axis=0)

Purchase
No     231
Yes    280
dtype: int64

In [28]:
# Proportion of males and females who purchased or didn't purchase a product

round(contingency_table.astype("float").div(contingency_table.sum(axis=1), axis=0), 2)

Purchase    No   Yes
Gender
Female    0.40  0.60
Male      0.51  0.49